@import "./nord.css";
window#waybar {
    font-family: "CaskaydiaCove Nerd Font";
    background-color: @bg;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.modules-left {
    opacity: 1;
    background-color: #95a3bb;
    border-radius: 0.5rem;
    padding: 2px;
}

.modules-center {
    opacity: 0;
}

.modules-right {
    opacity: 1;
    background-color: #95a3bb;
    border-radius: 0.5rem;
    padding: 2px 2px 2px 10px
}

/* label.module {
    margin-left: -1px;
} */

#workspaces {
    background-color: #6e7581;
    border-radius: 0.5rem;
    padding: 0 2px;
}

#workspaces button {
    font-size: 0.6rem;
    padding: 0 0.3rem 0 0;
}

#window {
    background-color: #95a3bb;
    border-radius: 0.5rem;
    padding: 2px 5px;
}

#clock {
    border-radius: 0.5rem;
    padding: 0 3px 0 0;
}

#battery {
    color: @date;
}

#memory {
    color: @memory;
}

#disk {
    color: @date;
}

#cpu {
    color: @cpu;
}

#temperature {
    color: @temp;
}

#network {
    color: @network;
}
